* {
    margin: 0;
    padding: 0;
    font-family: Artifika, sans-serif;
}

.background {
    background: url("/static/media/fruit.jpg") no-repeat;
    height: 45vh;
    background-size: cover;
    position: relative;
}

.graphics {
    width: 100%;
    height: 20%;
}

li {
    list-style: none;
}

.container-fluid {
    padding: 0;
}

.small-image {
    width: 100%;
}

.pronounced {
    color: #D7E6CE;
    font-weight: bold;
}
.tag {
    font-family: Varela Round, sans-serif;
    font-size: 6vw;
    /*height: 45vh;*/
    color: #FB5E64;
}

.brochure-background {
    background-color: #FB5E64;
    height: 20vh;
}

.brochure {
    font-family: Artifika, sans-serif;
    font-size: 20px;
    text-align: center;
    border-right: 3px solid #423238;
    margin-bottom: 0;
    padding-top: 6%;
}

#middle-brochure {
    padding-top: 4%;
}

.font-size {
    font-size: x-large;
    height: 20vh;
    padding-top: 8%;
}